/* -------------------- header -------------------- */

.header {
    padding-top: 20px;
    background-color: var(--background-color-second);
}

main {
    overflow-x: hidden;
}

@media screen and (min-width: 1280px) {
    .header {
        position: absolute;
        width: 100%;
        padding: 32px 0;
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 30px;
    text-align: center;
}

@media screen and (min-width: 1280px) {
    .navigation-list {
        flex-direction: row;
        gap: 32px;
        margin-bottom: 0;
    }
}

.navigation-item {
    color: var(--main-text);
    text-transform: capitalize;
}

.navigation-link {
    display: block;
    padding: 12px;

    font-size: 14px;
    line-height: 1.28;

    color: currentColor;
    border-radius: 12px;
    border: var(--border-link);

    transition: color var(--time) var(--cubic),
        background-color var(--time) var(--cubic);
}

@media screen and (min-width: 768px) {
    .navigation-link {
        font-size: 16px;
    }
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--accent-color-first);
    background-color: var(--background-color-third);
}

@media screen and (max-width: 1279px) {
    .current {
        color: var(--accent-color-first);
        background-color: var(--background-color-third);
        border: var(--border-link);
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    padding: 16px 0;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: center;

    color: var(--accent-color-first);
    background-color: var(--background-color-third);
    border-radius: 30px;
    border: none;
    cursor: pointer;

    transition: background-color var(--time) var(--cubic),
        color var(--time) var(--cubic), outline var(--time) var(--cubic);
    animation: swing 6s ease-in-out infinite forwards;
}

.btn:hover,
.btn:focus {
    background-color: transparent;
    color: var(--main-text);
    outline: 1px solid rgba(251, 251, 251, 0.4);
}

@media screen and (min-width: 768px) {
    .btn {
        width: 157px;
        margin-right: auto;
        margin-left: auto;
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: -0.01em;
    }
}

@media screen and (min-width: 1280px) {
    .btn {
        margin-right: 0;
        margin-left: 0;
        color: var(--main-text);
        background-color: var(--background-color-first);
    }

    .btn:hover,
    .btn:focus {
        background-color: var(--background-color-third);
        color: var(--accent-color-first);
    }
}


/* -------------------- hero -------------------- */

.hero,
.works {
    background-color: var(--background-color-second);
}

.hero-container {
    padding: 0;
}

.hero-title {
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    color: var(--main-text);
}

@media screen and (min-width: 768px) {
    .hero-title {
        margin-bottom: 25px;
        font-size: 76px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-title {
        margin-bottom: 128px;
        font-size: 76px;
    }
}

.title-accent-alfa {
    color: var(--accent-alfa-color);
}

.hero-description {
    max-width: 316px;

    font-size: 14px;
    line-height: 1.29;
    text-align: left;
    color: var(--main-text);
}

@media screen and (min-width: 768px) {
    .hero-description {
        max-width: 603px;
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-description {
        max-width: 446px;
    }
}

.hero-text-conainer {
    padding: 48px 20px 40px 20px;
}

@media screen and (min-width: 768px) {
    .hero-text-conainer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-text-conainer {
        width: 502px;
        padding: 0;
        margin: 228px 44px 50px 83px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-container {
        display: flex;
        width: 1280px;
    }
}

.background-container {
    position: relative;
    max-width: 375px;
    height: auto;
}

@media screen and (min-width: 768px) {
    .background-container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .background-container {
        max-width: 650px;
        max-height: 800px;
    }
}

.background-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient);
}